* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Chewy', cursive;
  color: #1843cf;
  text-shadow: rgb(0,0,0) 7px 7px 7px;
}

.reset {
  top: 3rem;
  left: 90%
}
.instructions {
  top: 7rem;
  left: 90%
}


body {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 25px;
  width: 100%;
}
button {
    top: 0.5rem;
    position: absolute;
    left: 32%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: rgba(157, 165, 201, 0.6);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  
}

button:hover {
  background-color: #4370F1;
}

button:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

}

.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 700px;
  margin: 10px 0 25px;
  width: 700px;
}

.cell {
  align-items: center;
  background: #4370F1;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.cell::after {
  background: white;
  border-radius: 50%;
  border: 3px solid black;
  content: '';
  cursor: pointer;
  height: 75px;
  width: 75px;
}

.cell:not(.row-top).red::after {
  background: red;
}
.cell:not(.row-top).yellow::after {
  background: yellow;
}

.cell:not(.row-top).red.win {
  background: rgb(235, 114, 114);
}

.cell:not(.row-top).yellow.win {
  background: rgb(228, 228, 164);
  
}

.cell.row-top {
  background: white;
}

.cell.row-top::after {
  border: none;
}

.cell.row-top.red::after {
  background: red;
  border: 3px solid black;
}

.cell.row-top.yellow::after {
  background: yellow;
  border: 3px solid black;
}

.winner {
  text-transform: uppercase;
  position: absolute;
  left: 40%;
  top: 10rem;
  display: block;
  font-size: 40px;
  color: #0941ce;
  text-shadow: rgb(0,0,0) 4px 4px 8px;

}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background: white;
  width: 500px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-header .close-button {
  position: absolute;
  left: 95%;
  top: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  z-index: 11;
}
.modal-body {
  padding: 10px 15px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}