* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  color: #1843cf;
}

.instructions {
  left: 68%
}

body {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 25px;
  width: 100%;
}

button {
    top: 0.5rem;
    position: absolute;
    left: 32%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  
}

button:hover {
  background-color: #4370F1;
}

button:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

}

.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 700px;
  margin: 10px 0 25px;
  width: 700px;
}

.cell {
  align-items: center;
  background: #4370F1;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}
.cell::after {
  background: white;
  border-radius: 50%;
  border: 3px solid black;
  content: '';
  cursor: pointer;
  height: 75px;
  width: 75px;
}
.cell::after {
  background: white;
  border-radius: 50%;
  border: 3px solid black;
  content: '';
  cursor: pointer;
  height: 75px;
  width: 75px;
}

.cell:not(.row-top).red::after {
  background: red;
}
.cell:not(.row-top).yellow::after {
  background: yellow;
}

.cell:not(.row-top).red.win {
  background: red;
}

.cell:not(.row-top).yellow.win {
  background: yellow;
}

.cell.row-top {
  background: white;
}

.cell.row-top::after {
  border: none;
}

.cell.row-top.red::after {
  background: red;
  border: 3px solid black;
}

.cell.row-top.yellow::after {
  background: yellow;
  border: 3px solid black;
}

.winner {
  position: absolute;
  left: 40%;
  top: 5rem;
  display: block;
  font-size: 40px;
}